<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <title>Smooth.Money - łatwo, szybko i za grosze. Wpłać 1 zł i wygraj wysiące!</title>
    <link rel="stylesheet" href="assets/style/style.css">
  </head>
  <body>
    <header>
      <h1>
        Header
      </h1>
    </header>
