* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

small {
  font-weight: normal; }

@font-face {
  font-family: 'Open Sans';
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("ttf"); }
@font-face {
  font-family: 'KG Arrows';
  src: url("/assets/fonts/KGArrows.ttf") format("ttf"); }
@font-face {
  font-family: 'Adequate';
  src: url("/assets/fonts/Adequate-ExtraLight.ttf") format("ttf"); }
.group:after {
  content: '';
  display: table;
  clear: both; }

.highlight {
  color: #99cc00;
  font-weight: bold; }

.text {
  font-weight: 500;
  color: #1c2f4d; }

.text--big {
  text-transform: uppercase;
  font-size: 2em; }

body {
  line-height: 1.5;
  background: #1c2f4d;
  color: #ffffff;
  font-size: 16px;
  font-family: 'Open Sans'; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px; }

#landing {
  height: 100vh;
  position: relative;
  overflow: hidden; }

.header {
  margin-top: 20px;
  overflow: hidden; }

.logo {
  float: left; }

.logo__title {
  text-indent: -9999px;
  height: 0;
  display: block; }

.logo__block {
  display: inline-block; }

.navigation {
  float: right; }

.navigation__list {
  list-style-type: none;
  line-height: 57.83px; }

.navigation__item {
  display: inline;
  padding-left: 10px;
  font-size: 0.75em;
  text-transform: uppercase; }

.navigation__link {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none; }
  .navigation__link:focus, .navigation__link:active {
    color: #99cc00; }
  .navigation__link:hover:after {
    content: '';
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 18px;
    height: 2px;
    background: #99cc00;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.navigation__link--important {
  color: #99cc00;
  font-weight: bold; }

.introduction {
  text-align: center;
  margin-top: 10vh; }

.introduction__title {
  height: 30vh; }

.introduction__info {
  font-size: 1.2em;
  margin-bottom: 20px; }

.introduction__imp {
  font-size: 1.5em;
  font-weight: bold;
  color: #99cc00; }

.introduction__scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 4em;
  font-family: 'KG Arrows';
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
  .introduction__scroll a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.07); }

.btn {
  font-weight: bold;
  padding: 11px;
  border: none;
  background: transparent;
  margin: 0 10px;
  width: 128px;
  font-size: 0.8125em;
  color: white;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2); }
  .btn:first-of-type {
    margin-left: 4px; }

.btn--success {
  background: #99cc00; }
  .btn--success:active, .btn--success:hover, .btn--success:focus {
    background: #81ad00; }

.btn--infolight {
  background: #2b4164; }
  .btn--infolight:active, .btn--infolight:hover, .btn--infolight:focus {
    background: #263b5b; }

.btn--infodark {
  background: #1c2f4d; }
  .btn--infodark:active, .btn--infodark:hover, .btn--infodark:focus {
    background: #182944; }

.logowanie {
  margin-top: 100px;
  text-align: center; }

.logowanie__wrapper {
  background: #2b4164;
  margin-top: 30px;
  padding: 30px 0;
  overflow: hidden; }

.logowanie__formbox {
  margin: 0 15px;
  display: inline-block;
  float: left;
  width: 320px; }

.s {
  width: 710px;
  overflow: hidden;
  margin: 0 auto; }

.logowanie__head {
  padding: 25px;
  background: #2b4164;
  font-family: 'Adequate';
  font-size: 3em;
  padding-bottom: 15px; }

.logowanie__title {
  text-align: left;
  font-weight: lighter;
  padding-bottom: 6px;
  border-bottom: 2px solid #99cc00; }

.logowanie__form,
.feed__form {
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 4px; }
  .logowanie__form label,
  .feed__form label {
    margin: 20px 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 0.8em; }
  .logowanie__form input,
  .feed__form input {
    width: 100%;
    margin-top: 2px;
    color: #1c2f4d;
    border: 2px solid #99cc00;
    background: transparent;
    padding: 10px;
    outline: none;
    background: #99cc00;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2); }
  .logowanie__form label,
  .logowanie__form input,
  .feed__form label,
  .feed__form input {
    display: block; }

#about {
  background: #fff;
  width: 100%;
  text-align: center;
  padding: 50px 0;
  color: #1c2f4d; }

.about__head {
  position: relative;
  padding: 8px; }
  .about__head:after {
    content: '';
    position: absolute;
    bottom: 4px;
    left: 50%;
    width: 50px;
    height: 3px;
    background: #99cc00;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.about__group {
  overflow: hidden;
  margin: 50px 0; }

.about__item {
  width: 32%;
  border: 6px solid #99cc00;
  float: left;
  padding: 35px;
  margin-right: 2%;
  background: rgba(0, 0, 0, 0.08); }
  .about__item:last-child {
    margin: 0; }

.about__describe {
  text-align: justify;
  display: block;
  margin-top: 35px; }

.workflow {
  width: 70%;
  text-align: left;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto; }

.item {
  margin-bottom: 30px;
  padding: 4px 10px;
  width: 50%;
  float: left;
  height: inherit;
  text-align: center; }
  .item:nth-child(2) {
    border-left: 2px solid #99cc00; }
  .item p {
    height: 100%;
    text-align: justify; }

.feed {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
  position: relative; }

.feed__form--width {
  padding: 20px;
  max-width: 500px;
  margin: 20px auto; }
  .feed__form--width button {
    float: left;
    width: 10%;
    padding: 12px;
    margin-top: 2px;
    background: #99cc00;
    border: none;
    color: #2b4164;
    cursor: pointer; }
    .feed__form--width button:hover {
      background: #81ad00;
      color: #1c2f4d; }
  .feed__form--width input {
    width: 90%;
    float: left;
    background: #fcfcfc; }

.circle {
  display: block;
  border-radius: 100%;
  background: #99cc00;
  position: absolute;
  left: 190px;
  top: 15px;
  z-index: -1; }

.circle--a {
  width: 120px;
  height: 120px;
  left: 12%;
  top: 2%; }

.circle--b {
  width: 300px;
  height: 300px;
  left: 70%;
  top: 85%; }

.circle--c {
  width: 65px;
  height: 65px;
  left: 55%;
  top: 50%; }

.circle--d {
  width: 10px;
  height: 10px;
  left: 55%;
  top: 46%; }

.circle--e {
  width: 16px;
  height: 16px;
  left: 70%;
  top: 7%; }

.circle--f {
  width: 30px;
  height: 30px;
  left: 31%;
  top: 80%; }

.lottery {
  color: #1c2f4d;
  text-align: center;
  padding: 50px;
  background: #fff; }

/*# sourceMappingURL=style.css.map */