* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$light: #2b4164;
$dark: #1c2f4d;
$green: #99cc00;

small {
  font-weight: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'KG Arrows';
  src: url('/assets/fonts/KGArrows.ttf') format('ttf');
}

@font-face {
  font-family: 'Adequate';
  src: url('/assets/fonts/Adequate-ExtraLight.ttf') format('ttf');
}

body {
  background: #1c2f4d;
  color: #ffffff;
  font-size: 16px; //1em
  font-family: 'Open Sans';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.landing {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.header {
  margin-top: 20px;
  overflow: hidden;
}

.logo {
  float: left;
}

.logo__title {
  text-indent: -9999px;
  height: 0;
  display: block;
}

.logo__block {
  display: inline-block;
}

.navigation {
  float: right;
}

.navigation__list {
  list-style-type: none;
  line-height: 57.83px;
}

.navigation__item {
  display: inline;
  padding-left: 10px;
  font-size: 0.75em;
  text-transform: uppercase;
}

.navigation__link {
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  &:focus,
  &:active {
    color: $green;
  }
  &:hover {
    &:before {
      content: '';
      position: absolute;
      bottom: 14px;
      left: 50%;
      background: $green;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      transform: translateX(-50%);
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 16px;
      left: 50%;
      width: 18px;
      height: 2px;
      background: $green;
      transform: translateX(-50%);
    }
  }
}

.navigation__link--important {
  color: $green;
  font-weight: bold;
}

.introduction {
  text-align: center;
  margin-top: 10vh; //testing phase
}

.introduction__title {
  height: 30vh;
}

.introduction__info {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.introduction__imp {
  font-size: 1.5em;
  font-weight: bold;
  color: $green;
}

.introduction__scroll {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
  font-size: 4em;
  font-family: 'KG Arrows';
  transform: rotate(90deg);
  a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.07);
  }
}

.btn {
  border-radius: 10px;
  padding: 12px;
  border: none;
  margin: 0 10px;
  width: 130px;
  font-size: 0.8125em;
  color: white;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

.btn--success {
  background: $green;
}

.btn--infolight {
  background: $light;
}

.btn--infodark {
  background: $dark;
}

.logowanie {
  margin-top: 100px;
  text-align: center;
}

.logowanie__wrapper {
  background: $light;
  margin-top: 30px;
  padding: 30px 0;
  overflow: hidden;
}

.logowanie__formbox {
  margin: 0 15px;
  display: inline-block;
  float: left;
  width: 320px;
}

.s {
  width: 710px;
  overflow: hidden;
  margin: 0 auto;
}

.logowanie__head {
  padding: 25px;
  background: $light;
  font-family: 'Adequate';
  font-size: 3em;
  padding-bottom: 15px;
}

.logowanie__title {
  text-align: left;
  font-weight: lighter;
  padding-bottom: 6px;
  border-bottom: 2px solid $green;
}

.logowanie__form {
  text-align: left;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  padding-bottom: 4px;
  label {
    margin: 20px 4px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 0.8em;
  }
  input {
    width: 100%;
    margin-top: 2px;
    color: #fff;
    border: 2px solid $green;
    background: transparent;
    padding: 10px;
    outline: none;
    border-radius: 10px;
  }
  label,
  input {
    display: block;
  }
}
