<section class='introduction'>
  <img src="/assets/images/introduction.svg" alt="Przedstawiamy SMOOTH.MONEY" class='introduction__title'>
  <div class='introduction__info'>Łatwo, szybko i za grosze. Wystarczy <span class='introduction__imp'>1 zł</span>, aby zgarnąć całą pulę!</div>
  <button class='btn btn--success'>zagraj</button>
  <button class='btn btn--info'>czytaj więcej</button>
  <div class='introduction__scroll'>
    <a href='#o_nas'>w</a>
  </div>
</section>
<main>
<!-- END OF SECTION -->
</div>
<!-- END OF LANDING -->
  <h1>{{title}}</h1>
</main>
