<section class='introduction'>
  <img src="/assets/images/introduction.svg" alt="Przedstawiamy SMOOTH.MONEY" class='introduction__title'>
  <div class='introduction__info'>Łatwo, szybko i za grosze. Wystarczy <span class='introduction__imp'>1 zł</span>, aby zgarnąć całą pulę!</div>
  <button class='btn btn--success'>zagraj</button>
  <button class='btn btn--infolight'>czytaj więcej</button>
  <div class='introduction__scroll'>
    <a href='#o_nas'>w</a>
  </div>
</section>
<!-- END OF SECTION -->
<main>
</div>
<!-- END OF LANDING -->
</div>
<!-- END OF CONTAINER -->
  <section id='about'>
    <div class='container'>
      <h2 class='about__head'>DLACZEGO MY?</h2>
      <div class='about__group'>
        <div class='about__item'>
          <h4 class='about__head'>BEZPIECZEŃSTWO</h4>
                    <p class='about__describe'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class='about__item'>
          <h4 class='about__head'>ZAUFANIE</h4>
          <p class='about__describe'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        <div class='about__item'>
          <h4 class='about__head'>WYPŁACALNOŚĆ</h4>
                    <p class='about__describe'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
      </div>
      <h3 class='text text--big'>system działa <span class='highlight'>bardzo prosto</span><br>wpłacasz pieniądze, czekasz na losowanie i <span class='highlight'>wygrywasz</span><br><span class='highlight'>minimalna wpłata</span> to tylko <span class='highlight'>1 zł</span>!</h3>
      <div class='workflow'>
        <div class='group'>
          <div class='item'>WPŁATA</div>
          <div class='item'>
            <p>WPŁATY MOŻESZ DOKONAĆ ZA POMOCĄ KARTY <span class='highlight'>VISA</span>/<span class='highlight'>MASTERCARD</span>. IM WIĘCEJ WPŁACISZ TYM WIĘKSZE SZANSE MASZ NA WYGRANĄ!</p>
          </div>
        </div>
        <div class='group'>
          <div class='item'>
            <p>PO DOKONANIU WPŁATY CZEKAJ NA JEJ POTWIERDZENIE. DOSTANIESZ MAILA Z INFORMACJĄ O SFINALIZOWANIU PŁATNOSCI.</p>
          </div>
          <div class='item'>POTWIERDZENIE</div>
        </div>
        <div class='group'>
          <div class='item'>
            WYGRANA
          </div>
          <div class='item'>
            <p>
              ZWYCIĘZCA LOSOWANY CO NIEDZIELĘ O GODZINIE 20:00. BĄDŹ TUTAJ, A BY Ć MOŻE TO TY BĘDZIESZ TYM, KTÓRY ZGARNIE WSZYSTKO DLA SIEBIE!
            </p>
          </div>
        </div>
        <!-- END OF GROUP -->
      </div>
      <!-- END OF CONTAINER -->
  </section>
  <!-- END OF ABOUT -->
  <div class='container'>
  <section class='feed'>
    <span class='circle circle--a'></span>
    <span class='circle circle--b'></span>
    <span class='circle circle--c'></span>
    <span class='circle circle--d'></span>
    <span class='circle circle--e'></span>
    <span class='circle circle--f'></span>
      <h2 class='about__head'>CHCESZ BYĆ Z NAMI NA BIEŻĄCO? ZOSTAW NAM SWOJEGO MAILA!</h2>
      <p><small>Będziesz stale inforowany o zmianach w serwisie</small></p>
      <form class="feed__form feed__form--width" action="/newsletter" method="post">
        <input type="email" name="f_feed" placeholder="jan.kowalski@gmail.com">
        <button type="submit" name="submit"><i class="fa fa-share" aria-hidden="true"></i></button>
      </form>
  </section>
  <!-- END OF FEED -->
</div>
<!-- END OF CONTAINER -->
<section class='lottery'>
  <div class='container'>
    <h2 class="about__head text--big">LOTERIA NR 05</h2>
  </div>
</section>
<!-- END OF LOTTERY -->
</main>
<!-- END OF MAIN -->
