<main>
  <section class='logowanie'>
    <h2 class='logowanie__head'>Smooth<span style='color:#99cc00'>.</span>Money</h2>
    <div class='logowanie__wrapper'>
      <div class="s">
      <div class='logowanie__formbox'>
        <h3 class="logowanie__title">Logowanie</h3>
        <form class="logowanie__form" action="/logowanie" method="post">
            <label>Nazwa użytkownika:
              <input type="text" name="login">
            </label>
            <label>Hasło:
              <input type="password" name="password">
            </label>
            <button class='btn btn--success' type="submit" name="login">Zaloguj</button>
            <button class='btn btn--infodark' type="submit" name="register">Rejestracja</button>
        </form>
      </div>
      <div class='logowanie__formbox'>
        <h3 class="logowanie__title">Skorzystaj z innych platform</h3>

      </div>
    </div>
  </div>
  </section>
</main>
